<a href="https://colab.research.google.com/github/kireli21/cyp_2021/blob/main/Tarea_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Ejemplo 3.1
# Daddo los sueldos de 10 trabajadores, calcular el total de nomina, sin utilizar estructuras repetitivas

sue1 = 0
sue2 = 0
sue3 = 0
sue4 = 0
sue5 = 0
sue6 = 0
sue7 = 0
sue8 = 0
sue9 = 0
sue10 = 0
nomf = 0

sue1 = float(input("Ingrese el sueldo del trabajador1: "))
sue2 = float(input("Ingrese el sueldo del trabajador2: "))
sue3 = float(input("Ingrese el sueldo del trabajador3: "))
sue4 = float(input("Ingrese el sueldo del trabajador4: "))
sue5 = float(input("Ingrese el sueldo del trabajador5: "))
sue6 = float(input("Ingrese el sueldo del trabajador6: "))
sue7 = float(input("Ingrese el sueldo del trabajador7: "))
sue8 = float(input("Ingrese el sueldo del trabajador8: "))
sue9 = float(input("Ingrese el sueldo del trabajador9: "))
sue10 = float(input("Ingrese el sueldo del trabajador10: "))

nomf = sue1 + sue2 + sue3 + sue4 + sue5 + sue6 + sue7 + sue8 + sue9 + sue10 

print(f"La nomina total de los trabajadores es de: {nomf}")

Ingrese el sueldo del trabajador1: 1500
Ingrese el sueldo del trabajador2: 890
Ingrese el sueldo del trabajador3: 700
Ingrese el sueldo del trabajador4: 950
Ingrese el sueldo del trabajador5: 2300
Ingrese el sueldo del trabajador6: 1650
Ingrese el sueldo del trabajador7: 1800
Ingrese el sueldo del trabajador8: 1400
Ingrese el sueldo del trabajador9: 760
Ingrese el sueldo del trabajador10: 900
La nomina total de los trabajadores es de: 12850.0

In [7]:
# Ejemplo 3.4
# Calcular la suma de gastos de un viaje, sin saber exactamente cuantos fueron

sumgas = 0
gast = 0

sumgas = 0
gast = float(input("Ingrese el gasto: "))

while gast > -1:
  sumgas = sumgas + gast
  gast = float(input("Ingrese el gasto: "))

print(f"El gasto total fue de: {sumgas}")

Ingrese el gasto: 158.5
Ingrese el gasto: 94
Ingrese el gasto: 750
Ingrese el gasto: 431
Ingrese el gasto: -1
El gasto total fue de: 1433.5